<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.taos.up.learnui">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity
            android:name=".LearnUiListActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".ui.DragBubbleActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>